@import url(reset.css);
.page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
form {
  width: 70%;
  margin: 50px auto;
}

h1 {
  font-size: 1.5rem;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

label, input, textarea, select {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
input, select {
  height: 30px;
  border: 1px solid black;
}

label {
  line-height:50px;
}

textarea {
  height: 300px;
  border: 1px solid black;
}

input[type='radio'] {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

span {
  display: inline-block;
  vertical-align: middle;
}

input[type='checkbox']{
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

input[type='submit']{
  background-color: black;
  color: white;
  height: 50px;
  font-size: 1.2rem;
  transition: all .5s linear;
}

input[type='submit']:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .formcolumns {
    display: flex;
    justify-content: space-between;
  }
  fieldset {
    width: 49%;
  }
  input[type='submit']{
    width: 300px;
  }
}
