@import url(reset.css);

.page {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  min-width: 1024px;
  max-width: 1700px;
  margin: auto;
}

.myheader {
  min-height: 47px;
  background-image: linear-gradient(to right, brown, orange);
}

.logo, .menu {
  display: inline-block;
}
.logo {
  width: 70%;
}

.logo h1 {
  font-size: 24px;
  line-height: 47px;
  padding-left: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  font-size: 17px;
  line-height: 47px;
}

.bigPic {
  height: 499px;
  background-image: url(../img/bigPic.png);
  background-size: cover;
  background-position: left bottom;
  box-sizing: border-box;
  padding: 228px 0;
}

.bigPic h2 {
  font-size: 43px;
  text-transform: uppercase;
  text-align: center;
}

.text {
  width: 70%;
  min-height: 411px;
  border: 4px solid #8B572A;
  border-radius: 10px;
  margin: 100px auto;
  color: black;
  box-sizing: border-box;
  padding: 40px;
}

.text h2 {
  font-size: 24px;
  font-weight: bold;
}

.text p {
  font-size: 16px;
  margin-top: 20px;
}

.myFooter {
  min-height: 47px;
  background-image: linear-gradient(to right, brown, orange);
}

.copyright, .social {
  display: inline-block;
}

.copyright {
  width: 90%;
}
.copyright p {
  padding-left: 20px;
  line-height: 47px;
}

.social {
  box-sizing: border-box;
  padding: 20px;
}
